{% extends 'base/main.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock styles %}

{% block content %}

<div class="form-block bg-white">
    <header class="header-bar"><h1>Register</h1></header>
    <div class="form-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>{{form.username.label}}:</label>
                {{form.username}}
            </div>
            <div class="form-group">
                <label>{{form.password1.label}}:</label>
                {{form.password1}}
            </div>
            <div class="form-group">
                <label>{{form.password2.label}}:</label>
                {{form.password2}}
            </div>
            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a class="def-link" href="{% url 'login' %}">Login</a></p>
    </div>
</div>

{% endblock content %}